<footer class="bg-brand-dark">
    <div class="container w-full max-w-2xl mx-auto pt-20 pb-20 flex flex-col md:flex-row pl-5 pr-5 md:pl-0 md:pr-0">
        <div class="flex-1 mb-5 md:mb-0">
            <h4 class="font-medium text-3xl text-yellow-lightest mb-2">Join Us</h4>
            <p class="font-light text-base text-yellow-lightest leading-tight">16372 Old Woolmarket Road<br>Biloxi, MS 39532<br>Phone: 228-207-0920</p>
        </div>
        <div class="flex-1 mb-5 md:mb-0">
            <h4 class="font-medium text-3xl text-yellow-lightest mb-2">Service Times</h4>
            <p class="font-medium text-xl text-yellow-lightest leading-tight">Sunday</p>
            <p class="font-light text-base leading-tight mb-2 text-yellow-lightest">9:15AM Sunday School<br>10:30AM Worship<br>5:00PM Childrens Ministry<br>5:30PM Student Bible Study</p>
            <p class="font-medium text-xl text-yellow-lightest leading-tight">Wednesday</p>
            <p class="font-light text-base text-yellow-lightest leading-tight">6:30PM Prayer Meeting</p>
        </div>
        <div class="flex-1">
            <h4 class="font-medium text-3xl text-yellow-lightest mb-2">About</h4>
            <p class="font-light text-base text-yellow-lightest leading-tight">We’re a Southern Baptist congregation devoted to living out the Great Commission and the Great Commandment as a healthy expression of the Body of Christ. The Lord placed in the hearts of eight Christians the desire to plant a church in a new area of growth in northern Harrison County, Mississippi.</p>
        </div>
    </div>
</footer>

{{ function('wp_footer') }}